@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$primaryCyan: hsl(179, 62%, 43%);
$primaryBrightYellow: hsl(71, 73%, 54%);
$neutralLightGray: hsl(204, 43%, 93%);
$neutralGrayishBlue: hsl(218, 22%, 67%);
$secondaryCyan: hsl(179, 62%, 40%);
$white: hsl(0, 0%, 100%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Karla', sans-serif;
}

body {
  color: $white;
  background-color: $neutralLightGray;

  .main {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-rows: 1fr min-content min-content min-content 1fr;
    grid-template-areas:
    ". . ."
    ". a ."
    ". b ."
    ". c ."
    ". . .";
    height: 100vh;

    .join-community {
      grid-area: a;
      padding: 20px 20px 20px 20px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-color: $white;

      .title {
        color: $primaryCyan;
        font-size: 24px;
      }

      .sub-title {
        color: $primaryBrightYellow;
        margin: 16px 0;
        font-size: 18px;
        font-weight: 700;
      }

      .description {
        color: $neutralGrayishBlue;
        line-height: 2.0;
      }
    }

    .monthly-subscription {
      grid-area: b;
      padding: 16px 20px 20px 20px;
      background-color: $secondaryCyan;

      .price-container {
        margin: 22px 0;

        .pricing {
          display: flex;
          align-items: center;
          margin-bottom: 8px;

          .price {
            font-size: 28px;
            font-weight: 700;
            margin-right: 8px;
          }

          .per-month {
            color: $neutralLightGray;
          }
        }
      }

      .sign-up-btn {
        background-color: $primaryBrightYellow;
        width: 100%;
        color: $white;
        height: 50px;
        border-radius: 8px;
        border: none;
        font-weight: 700;
        font-size: 16px;

        &:hover {
          background-color: $neutralLightGray;
          color: $secondaryCyan;
        }
      }
    }

    .why-us {
      grid-area: c;
      padding: 18px 20px 20px 20px;
      background-color: $primaryCyan;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      .list {
        list-style-type: none;
        margin-top: 16px;

        .list-item {
          color: $neutralLightGray;
        }

        .list-item:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    .main {
      grid-template-columns: 2fr 375px 375px 2fr;
      grid-template-rows: 1fr min-content min-content 1fr;
      grid-template-areas:
      ". . . ."
      ". a a ."
      ". b c ."
      ". . . .";

      .join-community {
        padding: 40px 40px 40px 40px;
      }

      .monthly-subscription {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 40px 40px 40px;
        border-bottom-left-radius: 8px;

        .price-container {
          margin: 0;
        }
      }

      .why-us {
        padding: 40px 40px 40px 40px;
        border-bottom-left-radius: 0;
      }
    } 
  }
}